@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700|Montserrat+Alternates&display=swap&subset=cyrillic-ext|https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.nav-item a{
    font-family: Montserrat;
    font-weight: 700;    
    font-size: 1.1rem;
}

.navbar{    
    background: none !important;
    background-color: #bcaaa4;
}

.navbar p{
    margin-top: 0.7rem !important;
    font-size: 18px !important;
}

@media all and (max-width: 1000px) {
    .navbar p{
        display: none;
    }
}

.navbar-brand{
    font-family: Comfortaa;
    font-weight: 700;   
}

.navbar-brand img{
    width: 150px;
}

.padding{
    padding: 10px;
}

.centered{
    text-align: center;
}

.detal{
    background-color: #fff59d;
    /*font-family: Comfortaa;*/
    font-family: Montserrat;
   /* font-weight: 700; */
   position: relative;
}

.fa-envelope{
    padding: 0.1rem;
}

.cards{
    background-color: #fff8e1;
}

.cards h1{
    font-family: Roboto;
    font-weight: 400;   
}

.card{
    border: 1px solid #e5e5e5;
    word-wrap: unset !important;

}

.card-title{
    font-family: MontserratAlternates;
    font-size: 1.1rem;
    height: 4rem;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
    .card-title{
        height: 8rem;
    }
}

.modal-body img{
    float: left;
}

.modal-title{
    font-family: MontserratAlternates;
    font-size: 1.6rem;
}


footer{
    background-color: #bcaaa4;
    padding-top: 20px;
    font-size: 1.3rem;
    font-family: MontserratAlternates;
    font-weight: 500; 
}
